# Node
node_modules/

# Env
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# VS Code
.vscode/

# AI / Tooling folders (VERY IMPORTANT)
.adal/
.agents/
.augment/
.bob/
.claude/
.codebuddy/
.commandcode/
.continue/
.cortex/
.crush/
.factory/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/
skills


# Optional sensitive files
serviceAccountKey.json